# config files (they will be ignored in language stats)
*.js linguist-documentation
*.ts linguist-documentation
.devcontainer/** linguist-documentation
**/*.config.js linguist-documentation
**/*.setup.js linguist-documentation
**/*rc.js linguist-documentation
Dockerfile linguist-documentation
Makefile linguist-documentation
**/.storybook/* linguist-documentation
.husky/** linguist-documentation

public/**/* linguist-documentation
data/**/* linguist-documentation

*.zip binary
*.tar.gz binary
*.tgz binary
