html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fafafa;
}

@media print {
    body {
        background-color: #fff;
    }
}

a {
    color: #6B71B8;
}

.koffing-sprite {
    animation-name: koffing-animation;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/* Standard syntax */
@keyframes koffing-animation {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(-2px, -3px);
    }
}